{% extends "master.html" %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    {% with errors = get_flashed_messages(category_filter=['error']) %}
    {% for message in errors %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endwith %}
    {% with successes = get_flashed_messages(category_filter=['success']) %}
    {% for message in successes %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endwith %}

    <div class="card text-center">
        <div class="card-header">
            Your profile
        </div>
        <div class="card-body">
            <h5 class="card-title">{{user['firstname']}} {{user['lastname']}}</h5>
            <p class="card-text">{{user['email']}}</p>
            <a href="/success" class="btn btn-primary btn-lg">Go back</a>
            <a href="/editprofile" class="btn btn-secondary btn-lg">Edit profile</a>
            <a href="/changepasswd" class="btn btn-secondary btn-lg">Change password</a>
            <a href="/logout" class="btn btn-danger btn-lg">Logout</a>
        </div>
        <div class="card-footer text-muted">
            You registered with us on {{user['created_at'].strftime("%A, %B %d, %Y at %I:%M:%S %p")}}
        </div>
    </div>

</div>
{% endblock %}


